<p id="notice"><%= notice %></p>

<h1>Listing Tutors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th>State</th>
      <th>Lg</th>
      <th>Age Range</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutors.each do |tutor| %>
      <tr>
        <td><%= tutor.name %></td>
        <td><%= tutor.sex %></td>
        <td><%= tutor.state %></td>
        <td><%= tutor.lg %></td>
        <td><%= tutor.age_range %></td>
        <td class = "star-rating" data-score = <%= tutor.ratingAverage %> ></td>
        <td><%= link_to 'Show', tutor %></td>
        <td><%= link_to 'Edit', edit_tutor_path(tutor) %></td>
        <td><%= link_to 'Destroy', tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor', new_tutor_path %>

<script>
  $('.star-rating').raty({
      starOn: '<%= image_path('star-on.png') %>',
      starOff: '<%= image_path('star-off.png') %>',
      starHalf: '<%= image_path('star-half.png') %>',
      path: '',
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
        }
});
</script>