<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tutor.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @tutor.sex %>
</p>

<p>
  <strong>State:</strong>
  <%= @tutor.state %>
</p>
<p>
<strong>Age Range:</strong>
<%= @tutor.age_range %>
</p>
<p>
  <strong>Lg:</strong>
  <%= @tutor.lg %>
</p>
<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %> <br>
<br>
<% if @tutor.ranks.blank? %>
<%= link_to "Be the first, Add Review", new_tutor_rank_path(@tutor), class: "btn btn-success" %>
<% else %>
	<p><%= pluralize("#{@tutor.ranks.count}", "Review") %></p>
	<p class="star-rating" data-score= <%= @tutor.ratingAverage %> ></p>
	<hr>
	<% @tutor.ranks.each do |r| %>
		<div class = "reviews">
			<div class = "star-rating" data-score= <%= r.rating %> ></div>
		</div>
		<p><%= r.review %></p>
	<% end %>
<% end %>
<%= link_to 'Add Review', new_tutor_rank_path(@tutor) %>

<script>
	$('.star-rating').raty({
  		starOn: '<%= image_path('star-on.png') %>',
  		starOff: '<%= image_path('star-off.png') %>',
  		starHalf: '<%= image_path('star-half.png') %>',
		  path: '',
		  readOnly: true,
		  score: function(){
					return $(this).attr('data-score');
				}
});
</script>