<%= form_for([@tutor, @rank], html: {multipart: true}) do |f| %>
  <% if @rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% @rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div id = "star-rating"></div>
  </div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_area :review %>
  </div>
  <div class="field">
    <%= f.label :tutor_id %><br>
    <%= f.text_field :tutor_id %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Review" %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
  starOn: '<%= image_path('star-on.png') %>',
  starOff: '<%= image_path('star-off.png') %>',
  starHalf: '<%= image_path('star-half.png') %>',
  path: '',
  scoreName: 'rank[rating]',
  space: true 
});
</script>