<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Review</th>
      <th>Tutor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ranks.each do |rank| %>
      <tr>
        <td class = "star-rating" data-score= <%= rank.rating %> ></td>
        <td><%= rank.review %></td>
        <td><%= rank.tutor.name %></td>
        <td><%= link_to 'Show', [@tutor, rank] %></td>
        <td><%= link_to 'Edit', [:edit, @tutor, rank] %></td>
        <td><%= link_to 'Destroy', [@tutor, rank], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', '/' %> |
<%= link_to 'New Review', new_tutor_rank_path(@tutor) %>

<script>
  $('.star-rating').raty({
      starOn: '<%= image_path('star-on.png') %>',
      starOff: '<%= image_path('star-off.png') %>',
      starHalf: '<%= image_path('star-half.png') %>',
      path: '',
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
        }
});
</script>