<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <div class = "reviews">
  	<div class="star-rating" data-score = <%= @rank.rating %> >
  	</div>
  </div>
</p>

<p>
  <strong>Review:</strong>
  <%= @rank.review %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @rank.tutor.name %>
</p>

<%= link_to 'Edit', [:edit, @tutor, @rank] %> |
<%= link_to 'Back', tutor_ranks_path(@tutor) %>

<script>
	$('.star-rating').raty({
		starOn: '<%= image_path('star-on.png') %>',
		starOff: '<%= image_path('star-off.png') %>',
		starHalf: '<%= image_path('star-half.png') %>',
		path: '',
		readOnly: true,
		score: function(){
			return $(this).attr('data-score');
		}

	});
</script>